<div class="logo-container">
  <a href="/">
    <%= image_tag "Colour_Phil_And_Shona.png", class: "logo", alt: "Shona and Phil" %>
  </a>
</div>

<h1><sub>Shona and Phil's<br></sub>Wedding Registry</h1>
<p style="text-align: center;color: green"><%= notice %></p>
<p class="main-intro">
  Welcome! Thank you so much for finding your way here, and we're sorry this has taken us so long to sort out our
  wedding registry!

</p>
<div id="gifts">
  <% @gifts.each do |gift| %>
    <div class="gift">
      <%= render gift %>
      <div class="button-container">
        <%= link_to "Buy this for Shona & Phil", new_gift_gifter_path(gift), class: "buy-button" unless gift.bought %>
      </div>
    </div>
  <% end %>
</div>

<div class="footer">
  <p>If you have any suggestions on how I can make this better, please let me know! <br> -Phil</p>
</div>