<p style="color: green"><%= notice %></p>

<h1>Items</h1>

<div id="items">
  <% @items.each do |item| %>
    <%= render item %>
    <p>
      <%= link_to "Buy this for Phil and Shona", buy_item_path(item) unless item.bought %>
    </p>
  <% end %>
</div>
